**/alf_data_shared
**/maven_repos/private.json
*.lock
dev/Berksfile.dev
.vagrant
*.box
Gemfile.lock
vendor-cookbooks
packer_cache
output-virtualbox-iso
*.lic
*.tar
bootstrap-data
license

# Ignore Packer builders
*-builder.json
